$base-color: cadetblue;

.search-box {
  background: $base-color;
  padding: 30px;
  margin: 30px;
}

.search-history {
	padding-left: 30px;
	margin: 30px;
}

.res-hover {
	background: $base-color;
	cursor: pointer;
}

.navbar-default {
	background: $base-color
}

.brand-text {
  color: pink !important;
}

.artist-info {
	padding: 20px;
  background: lavenderblush;
  color: brown;
}

input[type=search] {
	width: 300px;
  height: 40px;
  padding: 5px;
  margin: 10px;
}