$base-color: black;

body {
  background-color: #F2F2F2;
}
input[type=search] {
	width: 100%;
  height: 40px;
}

.search-box {
  background: gray;
}

.search-history {
	padding-left: 30px;
	margin: 30px;
}

.res-hover {
	background: $base-color;
	cursor: pointer;
}

.navbar-default {
	background: black
}

.brand-text {
  color: pink !important;
}

.artist-info {
	padding: 20px;
  color: black;
}
