<div class="container-fluid">
  <div class="row">

    <div class="col-xs-10">
      <input type="search" placeholder="search..." ng-model="query"></input>
    </div>
    <div class="col-xs-2">
      <button ng-click="search(query)">Search</button>
    </div>

  </div>

  <!-- <div ng-if="loading" class="container">
    <img src="images/ring.gif" class="center">
  </div> -->
  <div class="row" ng-if="showSearch">
    <div class="row artist-info" ng-repeat="artist in artists"
      ng-click="getArtistInfo(artist.name)">
      <div class="col-xs-2">
        <img ng-src="{{artist.image[1]['#text']}}"/>
      </div>
      <div class="col-xs-10">
        {{artist.name}}
      </div>
    </div>
  </div>

  <div ng-if="showArtistInfo" class="artist-info">
    <div class="row artist-info"><h1>Tracks</h1></div>
  	<div class="row artist-info" ng-repeat="track in topTracks">
      <div class="col-xs-2">
        <img ng-src="{{track.image[0]['#text']}}"/>
      </div>
      <div class="col-xs-10">
        {{track.name}}
      </div>
    </div>

    <div class="row artist-info"><h1>Albums</h1></div>
    <div class="row artist-info" ng-repeat="album in albums">
      <div class="col-xs-2">
        <img ng-src="{{album.image[1]['#text']}}"/>
      </div>
      <div class="col-xs-10">
        {{album.name}}
      </div>
    </div>

    <div class="row artist-info"><h1>Similar Artists</h1></div>
    <div class="row artist-info" ng-repeat="sartist in similarArtist">
      <div class="col-xs-2">
        <img ng-src="{{sartist.image[1]['#text']}}"/>
      </div>
      <div class="col-xs-10">
        {{sartist.name}}
      </div>
    </div>

  </div>
</div>
